/* ==== base rules ==== */

* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden;
}

p {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #6c757d;
}

a {
  text-decoration: none;
  font-size: 15px;
}

.r-p {
  padding-top: 80px;
  padding-bottom: 80px;
}

.bg-sec {
  background: #f8f9fa;
}

.r-btn {
  padding: 5px 20px;
  background: #ee8683 !important;
  color: #fff;
}

/* === pre-loader === */
.pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 99998;
}

.complete {
  visibility: hidden;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #000;
  border-top: 10px solid #ee8683;
  animation: animate 1.5s infinite linear;
  z-index: 99999;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
body {
  overflow: auto;
}
/* === navbar section === */
nav.r-nav {
  background: transparent;
  padding: 20px 0;
  transition: 0.5s all;
}

nav .navbar-brand {
  font-size: 30px;
  color: #fff;
}

nav .navbar-nav li a {
  color: rgba(255, 255, 255, 0.8) !important;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-weight: 600;
  font-family: 'Nunito';
}

nav .navbar-nav li {
  margin-left: 15px;
}

nav.r-nav.stickyadd {
  background: #fff !important;
  padding: 15px 0;
  box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
  transition: .5 all ease-in-out;
}

nav.stickyadd .navbar-brand {
  color: #000;
  font-size: 40px;
  transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
  color: #000 !important;
}

.navbar .hamburger {
  color: #fff;
}

nav.stickyadd .hamburger {
  color: #000;
}
/* ==== nav section end ===== */

/* ==== header section start ==== */

header {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#home .element {
  color: #ee8683;
  font-size: bold;
}

.header-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-box {
  max-width: 700px;
  color: #fff;
}

.content-box h4 {
  font-size: 30px;
}

.content-box h1 {
  font-size: 52px;
}

.content-box a {
  color: #fff;
  text-decoration: none;
  border: 4px solid #fff;
  border-radius: 20px;
  padding: 5px 25px;
}

.content-box a:hover {
  color: #000;
  border: 4px solid #fff;
  background: #fff;
  transition: .5s all;
}

.content-box p {
  color: #fff;
}

/* === header section end === */

/* === about section start === */

.about li a {
  color: #000;
  display: inline-block;
  height: 42px;
  width: 42px;
  font-size: 20px;
  border: 2px solid #d4d4d4;
  border-radius: 50%;
  line-height: 40px;
  transition: 0.5s all;
  text-align: center;
}

.about li a:hover {
  color: #ee8683;
}

/* === about section end === */

/* === experience section start === */
.exp-class .progress {
  height: 15px;
  border-radius: 20px;
  font-size: 10px;
  position: relative;
}

.progress-bar {
  background: #ee8686 !important;
}

.exp-class label {
  font-size: 18px;
  margin: 10px;
}

.first {
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  font-style: italic;
}


/* === service section === */
.card, .card-header {
  background: #f8f9fa !important;
}

.card-header {
  border: none !important;
}

.services-class .card-header i {
  font-size: 50px;
}

.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #e65f78;
}

/* === testimony section === */
.testimony-class .test-item {
  max-width: 500px;
  margin: 50px auto;
}

.testimony-class .test-item .test-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.testimony-class .test-item i {
  color: grey;
}

.test-item p.lead {
  font-size: 15px;
}

/* === working-exp === */
.work-exp {
  position: relative !important;
}
/* .work-exp .card-header .flex {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 200px !important;
} */
.work-exp .card-header #work-icon{
  position: absolute;
  top: -22%;
  width: 80px;
  height: 80px;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ee8683;
}

/* === education === */
.accordion {
  font-weight: bold;
  border: none !important;
  background-color: #fff !important;
}
.accordion-item {
  background-color: #fff !important;
  border: none !important;
  padding: 5px;
}
.accordion .accordion-button {
  background: #f8f9fa !important;
  color: #000 !important;
  font-weight: 500;
  text-transform: uppercase;
}
.accordion .accordion-body {
  color: #333 !important;
  background-color: #fff;
}
.accordion .accordion-body h4 {
  font-size: 14px !important;
}
.accordion .accordion-body h5 {
  font-size: 12px !important;
}
.accordion .accordion-body h6 {
  font-size: 10px !important;
}

/* === works === */
.work .card-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
}

.work-img:hover {
  transform: scale(.9) !important;
  cursor: pointer !important;
  transition: 1s ease-in-out;
  border-radius: 10px;
}
.work-img a.preview {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.work-img a.github {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.work-img:hover a.preview {
  opacity: 1;
  color: #e65f78;
  top: 1%;
  left: 1%; 
  transition: .5s;
}

.work-img:hover a.github {
  opacity: 1;
  color: #e65f78;
  top: 10%;
  left: 1%; 
  transition: .5s;
}
/* === contact section === */
.contact .r-icon {
  font-size: 50px;
  text-align: center;
}
.contact p.conts {
  font-size: 16px;
}

/* === footer === */

footer {
  height: 200px;
  background: #333;
}

footer .r-icon a {
  font-size: 20px;
  color: #848484;
  padding: 10px;
  border: 1px solid #848484;
  border-radius: 50%;
}

footer .r-icon a:hover {
  border: 1px solid #eee;
  color: #eee;
  transition: all .5s;
}
